.icons {
    margin-left: auto;
}
.fab {
    color: white;
    margin-left: 6px;
    margin-right: 6px;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
