  <mat-toolbar color="primary" class="mat-typography">
    <span>Angular Data Tables for jQuery DataTables Developers</span>
      <div class="icons" fxShow="true" >
        <a href="https://github.com/bbutlerfrog/angular-tables" mat-button>
          <fa-icon [icon]="['fab', 'github']" class="fab fa-github fa-2x"></fa-icon>
        </a> 
        <a href="https://www.linkedin.com/in/ben-butler" mat-button>
          <fa-icon [icon]="['fab', 'linkedin']" class="fab fa-linkedin fa-2x"></fa-icon>
        </a>

      </div>

  </mat-toolbar>
