.icons {
  margin-left: auto;
}

.menu-spacer {
  flex: 1 1 auto;
}

.responsiveIcons {
  color: white;
}

.icons {
  color: white;
}

.fab {
  margin-left: 6px;
  margin-right: 6px;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: rgb(16, 16, 156);
}

.mat-sidenav-container {
  margin-top : 70px;
  background-color: white;
}

.mat-sidenav {
  background-color: rgb(16, 16, 156);
  color: white;
}

.mat-list-item { 
  color: white;
}

 .matTypography {
  font-size: 1rem; 
  background-color: white;
  margin-left: 150px;
  margin-right: 150px;
 }

 .matTypographySm {
  font-size: 1rem; 
  background-color: white;
  margin-left: 15px;
  margin-right: 15px; 
}

pre {
  background-color: lightgray;
  margin-left: 16px;
  margin-right: 40px;
  overflow: auto;
  border: 1px solid black;
 
}